<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoundIT"
        tools:targetApi="31">

        <!-- This is your main screen (already existed) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- This declares our new "Post a Lost Item" screen -->
        <activity
            android:name=".PostLostItemActivity"
            android:exported="false">
            <!-- android:exported="false" means only our app can open this screen -->
        </activity>
        
        <!-- This declares our new "Post a Found Item" screen -->
        <activity
            android:name=".PostFoundItemActivity"
            android:exported="false">
            <!-- android:exported="false" means only our app can open this screen -->
        </activity>
        
        <!-- This declares our new "Dashboard" screen -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false">
            <!-- android:exported="false" means only our app can open this screen -->
        </activity>

    </application>

</manifest>
